doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title User Information Table
    link(rel='stylesheet', href='/css/infoDisplay.css')
  body
    table
      thead 
        tr
          th First name
          th second name
          th Age
          th gender
          th location
      tbody#babies-list 
       if babies.length 
       each baby in babies
        tr
          td #{baby.first}
          td #{baby.last}
          td #{baby.age}
          td #{baby.gender}
          td #{baby.location}
          td
           a(href='#') update
          td
            form(method='POST' action='/delete')
             input(type='hidden' name='id' value=baby._id)
             button(type='submit') Delete
             
        
        // Add more rows as needed